.subject .commonBg{
    background:#356bb3;
}
.subject .signIn_box{
    border: 1px solid #356bb3;
    border-radius: 20px;
    padding: 3px 10px;
    color: #356bb3;
}
.fixed .am-tabs-tab-bar-wrap{
    position:fixed;
    width:100%;
    bottom:0;
    background:#fff;
}