.bgf5f5f9 .am-list-item{
    background-color: #f5f5f9;
}
.bgf5f5f9 .am-list-line::after{
    height:0!important;
}
.bgf5f5f9 .order_detail{
    padding:10px;
}
.bgf5f5f9 .am-list-item{
    min-height: 0px;
}