.bgf5f5f9 .am-list-item{
    background-color: #f5f5f9;
}
.bgf5f5f9 .am-list-line::after{
    height:0!important;
}
.bgf5f5f9 .order_detail{
    padding:10px;
}
.bgf5f5f9 .am-list-item{
    min-height: 0px;
}
.haveUse{
    background: #fff url(http://100health.oss-cn-hangzhou.aliyuncs.com/100care_manage/clinic/4AA41AAA06994ED18AA6C80EC7C403FC.png) no-repeat right top;
    background-size:80px 35px
}