$commonColor:#356bb3;

.subject_index_search{
    padding:6px 13px;
    background:#eaeaea;
    height:50px;
}
.subject_index_classify{
    box-shadow: 0px 2px 4px 0px rgba(0,38,90,0.50);
}
.subject_option_box{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,38,90,0.25);
    padding-top: 26px;
    padding-bottom: 22px;
    border-radius:18px;
}
.subject_index_story{
    height:80px;
}
.subject_index_story_detail{
    padding:20px 15px;
    line-height: 25px;
    font-size:13px;
}
.subject_index_honor_box{
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.subject_honor_container{
   margin-bottom: 10px;
}
.subject_honor_container:nth-child(odd){
    padding-right:8px;
}
.subject_honor_container:nth-child(even){
    padding-left: 8px;
}
.subject_honor_container .children{
    padding-top: 65%;
}
.bg356{
    background:#356bb3
}
.subject_clinic_box{
    padding:20px 8px 0px 10px;
}
.subject_clinic_container{
    box-shadow: 2px 2px 4px 1px rgba(0,38,90,0.25);
}
.subject_address_box{
    padding:5px 15px;
    border-radius:20px;
    color:#fff;
    text-align:center;
    background:#356bb3;
    white-space: nowrap;
}
.subject_index_getMore{
    padding:0 8px 0px 10px;
}
.subject_getMore{
    background:$commonColor;
    text-align: center;
    border-radius: 10px;
    padding:8px 0px;
    color:#fff;
}
.am-modal.am-modal-operation .am-modal-content .am-modal-button{
    padding:0;
}
.bottom_50{
    bottom:50%;
    // margin-top:-330px
    border-radius:20px;
    color:#c4902d;
    margin-bottom: -140px;
}
.bottom_50 .am-modal-content{
    background:transparent;
}
.prop_container{
    box-sizing: border-box;
    padding:2px 2px 34px 2px;
}
.onkeygetCoupon{
    width:60%;
    padding:10px 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.20);
    text-align: center;
    border-radius:20px;
    margin-top:15px;
    color:#c4902d;

}
.am-modal-mask{
    background-color:rgba(0,0,0,0.7);
}
.inner{
    height: calc(100% + 10px);
}